.page__header {
  text-align: center;
  font-size: 50px;
}

.calculator {
  margin: 30px auto;
  border: 1px solid black;
  width: 1200px;
}

.calculator__space {
  margin: 0 0 50px 0;
}

.calculator__header {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 30px;
}

.calculator__formula {
  text-align: center;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

.calculator__values {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.calculator__value {
  height: 40px;
  width: 300px;
  margin-bottom: 30px;
}

.calculator__keys {
  border: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  margin: 10px auto 0;
  padding: 50px 20px;
  text-align: center;
}

.calculator__key {
  width: 300px;
  height: 30px;
}

.calculator__key_smaller {
  width: 200px;
}

.calculator__hints {
  border: 1px solid red;
  min-height: 100px;
}

.calculator__hint {
  text-align: center;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

.calculator__hint_off {
  display: none;
}

.calculator__btn {
  width: 300px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
}

.calculator__buttons-zone {
  border: 1px solid green;
  width: 80%;
  margin: 0 auto;
}

.calculator__buttons {
  border: 1px solid saddlebrown;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.calculator__button {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.calcul__button-big {
  width: 180px;
  height: 50px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 20px 20px 20px 0;
  font-weight: bold;
}

.calcul__button-big:last-of-type {
  margin-right: 0;
}

.calcul__values {
  width: 300px;
  margin: 100px;
  height: 30px;
  font-size: 15px;
}

.calcul__result {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}
