.page__header {
  text-align: center;
  font-size: 50px;
}

.calculator {
  margin: 30px auto;
  border: 1px solid black;
  width: 1200px;
}

.calculator__space {
  margin: 0 0 50px 0;
}

.calculator__description {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 30px;
}

.calculator__hints {
  text-align: center;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

.calculator__value {
  height: 40px;
  width: 200px;
  font-size: 15px;
  margin: 100px 100px 100px 0;
}

.calculator__keys {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.calculator__answer {
  display: inline;
  margin-right: 100px;
}

.button {
  width: 100px;
  height: 36px;
}

.calcul__btn-stl {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.calcul__buttons-extra {
  width: 180px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 20px 0 20px 0;
  font-weight: bold;
}

.calcul__values {
  width: 300px;
  margin: 100px;
  height: 30px;
  font-size: 15px;
}

.calcul__result {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}
